@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

::placeholder {
  font-size: 18px;
}

body {
  background: lightcoral;


  margin: auto;

}

.container {
  width: 1000px;
  height: 100vh;
  margin: auto;
  padding: 25px;

}

hr {
  margin: 42px auto 20px;
}

.title-container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-container h1 {
  font-size: 90px;
  color: blue;
  text-shadow: 1px 1px 2px rgb(255, 255, 255);

}

.form-container {
  margin: 30px auto;

}


.btn {

  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 2px blue;
}

.add-btn-container {
  display: inline-block;
  width: 93px;
  height: 52px;
}

.add-btn {
  height: 100%;
  width: 100%;
  font-size: 20px;
  font-weight: 600;
}

.clickstart {
  transform: scale(0.95);
}

.features-buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}


.todo-container ul {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.checkbox-container {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.checkbox {
  height: 43px;
  width: 43px;
}


#todo-text-inputbox {
  height: 52px;
  width: 700px;
  border: none;
  outline: none;
  padding-left: 20px;
  margin-right: 10px;
  border-radius: 5px;
  font-size: 25px;
}

.todo-text-container {
  margin: auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 0px;
}

.todo-text-container p {
  width: 100%;
  font-weight: 600;
  font-size: 30px;
  margin: auto 25px;
  padding-left: 10px;
  border-radius: 10px;
}
.todo-text{
  width: 100%;
  margin: auto 20px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid black;
}
.todo-buttons-container {
  justify-content: center;
  display: flex;

}

.delete-all-btn-container,
.delete-checked-btn-container {
  display: inline-block;
  width: 215px;
  height: 52px;
  margin: 0px 10px;
}

.delete-all,
.delete-checked {
  width: 100%;
  height: 100%;
  font-size: 25px;
  font-weight: 600;
}

li {
  list-style-type: none;
}

.edit {
  margin-right: 5px;
}

.delete-btn {
  margin-left: 5px;

}

.edit img {
  width: px;
  height: 36px;
}

.delete-btn img {
  width: 36px;
  height: 36px;

}

/* .edit img{
  position: absolute;
  right: -45px;
  background: #e74c3c;
  width: 45px;
  text-align: center;
  color: #fff;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
  transition: all 0.2s ease;
}
.delete-btn img{
  position: absolute;
  right: -45px;
  background: #e74c3c;
  width: 45px;
  text-align: center;
  color: #fff;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
  transition: all 0.2s ease;
} */
